body {
    width: 100vh;
    font-family: Roboto, sans-serif;
    margin: 0px;
    padding: 0px;
}

header,
footer,
.hero {
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}
.hero h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-button {
    border: none;
}

img {
    background-color: gray;
    color: #F9FAF8;
}

.card {
    border: #3882F6 solid 1px;
    border-radius: 8px;
    width: 100px;
    height: 100px;
}

button,
.blue-box {
    background-color: #3882F6;
    color: #F9FAF8;
}

button {
    border-radius: 8px;
}

.action-button {
    border: #F9FAF8 solid 1px;
}

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote .signature {
    font-weight: 600;
    font-style: normal;
}

footer {
    color: #F9FAF8;
}