body {
    width: 100%;
    font-family: Roboto, sans-serif;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

header,
footer,
.hero {
    background-color: #1F2937;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 48px;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    list-style: none;
    margin: 8px;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.hero {
    display: flex;
    justify-content: center;
    padding: 24px 48px;
}

.hero-holder {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 2 2 0;
}

.hero h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0px;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0px;
}

button {
    border-radius: 8px;
    width: 96px;
    height: 36px;
    font-weight: 900;
}

.hero-button {
    border: none;
    margin: 8px 0px;
}

img {
    background-color: gray;
    color: #F9FAF8;
    width: 300px;
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.card-holder {
    display: flex;
    justify-content: center;
}

.group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100px;
    margin: 24px;
    text-align: center;
}

.card {
    border: #3882F6 solid 1px;
    border-radius: 8px;
    width: 100px;
    height: 100px;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    padding: 48px;
    display: flex;
    flex-direction: column;
}

.quote p {
    margin: 12px 48px;
}

.quote .signature {
    font-weight: 600;
    font-style: normal;
    margin-left: auto;
    margin-top: 12px;
    margin-bottom: 12px;
}

.action {
    padding: 48px;
}

.blue-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
}

button,
.blue-box {
    background-color: #3882F6;
    color: #F9FAF8;
}

.action-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

h3 {
    margin: 4px;
}

.action-text p {
    margin: 4px;
}

.action-button {
    border: #F9FAF8 solid 1px;
}

footer {
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}